p {
    background-color: #F8F8FF;
}

.alunos {
    text-align: left;
    
}

#ur3 {
    display: none;
}

#irb140 {
    display: none;
}

#ur3Poses {
    display: none;
}

#ur3Teach {
    display: none;
}

#irb140Poses {
    display: none;
}

#ur3Animations {
    display: none;
}

#irb140Animations {
    display: none;
}

#irb140Teach {
    display: none;
}